/model/gnuplot-iostream.h
/cmake-build-debug/
/.idea
/CMakeFiles/
/vscode/
/build/kalmanFilter/
/build/
/myenv/
/.vscode/

# Python
*.venv
__pycache__/
*.pyc

# Generated Reports and Plots
*.html
*.png

# Temporary files
temp_pdf.txt
